* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Noto Sans JP', sans-serif;
  }

:root {
    --background: #F5F5F5;
    --bck: #000000;
    --background-light: #fff;
    --succes-light: #EEF8E6;
    --succes-dark: #3C8600;
    --desc-dark: #870808;
    --primary-lightest: #E6EFE7;
    --primary-main: #006210;
    --secondary-lightest: #F5F5F5;
    --primary-light: #54965F;
    --content-400: #55BD00;
    --content-200: #EBCB00;
    --icon-error: #BE0B0B;
    --color-hr: #006210;
    --color-text: #454545;
    --color-total: #595959;
    --color-rp: #262626;
    --color-day: #8c8c8c;
    --color-percentage: #EEF8E6;
    --color-destructive: #F9E7E7;
}

.kunjungan-utama {
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    width: 670px;
    height: 390px;
    border: 1px solid var(--primary-lightest);
}

.kunjungan-utama .kunjungan {
    display: flex;
}

.kunjungan-utama .content-kunjungan {
    display: flex;
    margin-top: 15px;
    margin-left: 23px;
}

.kunjungan-utama .kunjungan .kuko {
    margin-top: 25px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    color: var(--color-text);
}

.kunjungan-utama .kunjungan .day-kunjungan {
    margin-top: 20px;
    margin-left: 330px;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-day);
}

.kunjungan-utama .content-kunjungan .income-kunjungan .percentage-kunjungan {
    text-align: center;
    background-color: var(--color-percentage);
    color: var(--succes-dark);
    width: 65px;
    font-weight: 700;
    border-radius: 30px;
    height: auto;
}

.kunjungan-utama .content-kunjungan .income-kunjungan .label-kunjungan {
    color: var(--color-total);
    font-weight: 700;
}

.kunjungan-utama .content-kunjungan .income-kunjungan .amount-kunjungan {
    color: var(--color-rp);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.kunjungan-utama .content-kunjungan .income-kunjungan .horizontal-kunjungan {
    width: 55px;
    height: 9px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--color-hr);
}

.kunjungan-utama .content-kunjungan .vertical-kunjungan {
    margin-left: 150px;
    width: 1px;
    height: 60px;
    margin-top: 10px;
}

.kunjungan-utama .content-kunjungan .expense-kunjungan {
    margin-left: 20px;
}

.kunjungan-utama .content-kunjungan .expense-kunjungan .percentage-kunjungan {
    text-align: center;
    background-color: var(--color-percentage);
    color: var(--desc-dark);
    width: 65px;
    font-weight: 700;
    border-radius: 30px;
    height: auto;
    background-color: var(--color-destructive);
}

.kunjungan-utama .content-kunjungan .expense-kunjungan .label-kunjungan {
    color: var(--color-total);
    font-weight: 700;
}

.kunjungan-utama .content-kunjungan .expense-kunjungan .amount-kunjungan {
    color: var(--color-rp);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.kunjungan-utama .content-kunjungan .expense-kunjungan .horizontal-kunjungan {
    width: 55px;
    height: 9px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--primary-light);
}